#questions-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Hiển thị 2 câu trên 1 hàng */
    gap: 20px;
}

.question {
    border: 1px solid #ccc;
    padding: 15px;
}

.question label {
    display: block;
    margin-bottom: 5px;
}

.question input[type="radio"] {
    margin-right: 5px;
}

.correct {
    color: green;
}

.incorrect {
    color: red;
}
